@(vms: Seq[models.VMInfo], server: String)

    @main("VMware VM List") {
<style>
    body{
        background-color: #CAFAFE;
    }
</style>
<body>


        <div>
            <h2>All Virtual Machines List at  @server HOST</h2>
            <h3>vm.getHostMem</h3>
            <table class="styled-table" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @for(vm <- vms) {
                    <tr>
                        <td>@{
                            vm.getId
                        }</td>
                        <td>@{
                            vm.getName
                        }</td>
                        <td><a href="@controllers.routes.VMServerController.getVMState(vm.getId, vm.getName)">Edit</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
</body>
    }