@(vm: VMPowerState)
<!DOCTYPE html>

@main("VMware VM List") {
    <div>
        <h2>VM Details for: @{vm.getName}</h2>
        <table class="styled-table" style="width: 100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@{
                    vm.getId
                }</td>
                <td>@{
                    vm.getName
                }</td>
                <td>@{
                    vm.getStatus
                }</td>
                <td>
                    <ul>
                        <li><a href="@controllers.routes.VMServerController.startVM(vm.getId)"><img src="images/start.jpg" /></a></li>
                        <li><a href="@controllers.routes.VMServerController.stopVM(vm.getId)">Stop</a></li>
                        <li><a href="@controllers.routes.VMServerController.suspendVM(vm.getId)">Suspend</a></li>
                        <li><a href="@controllers.routes.VMServerController.resetVM(vm.getId)">Reset</a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
}